html, body{

}
.container{
    /* border: 3px solid red; */
    margin: 0 auto;
    margin-top: 10%;
}
.form{
    border: 3px solid green;
    padding: 15px;
}
.form_title{
    text-align: center;
}
input{
    width: 100%;
}
input[type=checkbox]{
    width: 5%;
}